$fury-bg-color: #0d131c;
$primary-color: #2283f6;
$primary-color-hover: #1f77e4;
$danger-color: #ed1d49;
$danger-color-hover: #cb1c42;
$safe-color: #2ddc4b;

$fury-font-md: 14px;
$fury-font-sm: 11px;
$fury-font-color: #93acd3;

$fury-start-collapse: 1000px;
$fury-first-collapse: 980px;
$fury-second-collapse: 800px;
$fury-third-collapse: 500px;


// Betfury color
// #2a3546
// #161f2c;